/AddInstruction.class
/AddiInstruction.class
/AndInstruction.class
/AndhiInstruction.class
/AndiInstruction.class
/BeqInstruction.class
/BgeInstruction.class
/BgeuInstruction.class
/BltInstruction.class
/BltuInstruction.class
/BneInstruction.class
/BrInstruction.class
/CallInstruction.class
/CallrInstruction.class
/CmpeqInstruction.class
/CmpeqiInstruction.class
/CmpgeInstruction.class
/CmpgeiInstruction.class
/CmpgeuInstruction.class
/CmpgeuiInstruction.class
/CmpltInstruction.class
/CmpltiInstruction.class
/CmpltuInstruction.class
/CmpltuiInstruction.class
/CmpneInstruction.class
/CmpneiInstruction.class
/DivInstruction.class
/ITypeInstruction.class
/Instruction.class
/JTypeInstruction.class
/JmpInstruction.class
/LdbInstruction.class
/LdbioInstruction.class
/LdbuInstruction.class
/LdbuioInstruction.class
/LdhInstruction.class
/LdhioInstruction.class
/LdhuInstruction.class
/LdhuioInstruction.class
/LdwInstruction.class
/LdwioInstruction.class
/MulInstruction.class
/MuliInstruction.class
/MulxssInstruction.class
/MulxsuInstruction.class
/MulxuuInstruction.class
/NextpcInstruction.class
/NorInstruction.class
/OrInstruction.class
/OrhiInstruction.class
/OriInstruction.class
/RTypeInstruction.class
/RetInstruction.class
/RolInstruction.class
/RoliInstruction.class
/RorInstruction.class
/SllInstruction.class
/SlliInstruction.class
/SraInstruction.class
/SraiInstruction.class
/SrlInstruction.class
/SrliInstruction.class
/StbInstruction.class
/StbioInstruction.class
/SthInstruction.class
/SthioInstruction.class
/StwInstruction.class
/StwioInstruction.class
/SubInstruction.class
/XorInstruction.class
/XorhiInstruction.class
/XoriInstruction.class
