/Emulator.class
/EmulatorException.class
/EmulatorManager$1.class
/EmulatorManager$SPEED.class
/EmulatorManager.class
/Program.class
/SourceCode.class
/SourceCodeLine$BREAKPOINT.class
/SourceCodeLine$SIBLINGSTATUS.class
/SourceCodeLine.class
